@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

:root {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Comic Neue', cursive;
  color: white;
  box-sizing: border-box;
}

body {
  background-image: url("bg.png");
  background-repeat: repeat;

  animation: marquee 360s linear infinite;
}

@keyframes marquee {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 2176px 544px;
  }
}

main {
  margin: 0 auto;
  margin-top: 3rem;
  width: min(90%, 50rem);
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
}

div.console {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(1rem);
  border: 1px solid #e49ef7;
  min-height: 24rem;
}

div.folder {
  color: #e49ef7;
  user-select: none;
  cursor: pointer;
}
div.folder::before {
  content: '> ';
  width: 2rem;
}
div.folder.open::before {
  content: 'v ';
  width: 2.1rem;
  padding-left: 0.1rem;
  padding-right: 0.02rem;
}
div.folder:not(.open) + div.contents {
  display: none;
}
div.folder + div.contents {
  padding-left: 1rem;
  border-left: 1px solid #e49ef74f;
}
div.contents span {
  font-style: italic;
}