@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body {
    background-color: #2d2d2d;
    z-index: -50;
    
    overflow: hidden;
    position: relative;
}

div.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    overflow: hidden;
    top: 0;
    left: 0;

    background: #0d0d0d;
    z-index: -999;
}

@keyframes introbg {
    0% {
        top: calc(-400rem + -100vh);
    }
    100% {
        top: 0;
    }
}

div.bgtransition {
    transform: rotate(-45deg);
    background-color: #2d2d2d;
    width: 1000rem;
    height: 300rem;
    position: absolute;
    z-index: 0;

    top: -500rem;

    animation-name: introbg;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
    animation-fill-mode: both;
}

@keyframes introimg {
    0% {
        transform: translateX(calc(-50vw + -18rem)) rotate(-720deg);
    }
    45%, 55% {
        transform: none;
    }
    100% {
        transform: translateX(calc(50vw + 18rem)) rotate(720deg);
    }
}

img#introimg {
    width: 18rem;
    height: 18rem;
    animation-name: introimg;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
    transform: translateX(calc(50vw + 18rem));

    z-index: 1;
}


@keyframes main {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: none;
    }
}

div.main {
    height: 100vh;
    width: calc(100vw - 4rem);

    overflow: scroll;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 3;
    
    background-color: transparent;

    text-align: center;

    padding: 2rem;

    transform: none;

    animation-name: main;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
    animation-delay: 4.5s;
    animation-fill-mode: both;

    opacity: 1;
}

h1 {
    font-size: 3rem;
}

div.games {
    padding-top: 4rem;
    width: 58rem;
    display: grid;
    grid-template-columns: repeat(5, 10rem);
    grid-template-rows: repeat(8, 10rem);
    gap: 2rem;
    margin: 0 auto;
}

div.game {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    border-radius: 8px;
    background-color: #2d2d2d;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

div.game.wide2 {
    width: 22rem;
}
div.game.wide3 {
    width: 34rem;
}
div.game.tall2 {
    height: 22rem;
}
div.game.tall3 {
    height: 34rem;
}

div.game img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    /* don't block pointer */
    pointer-events: none;
}

div.game a {
    background-color: #0000007f;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    padding: 1rem;
}

div.game:hover a {
    opacity: 1;
}

.hidden {
    /* display: none !important; */
}

p.tandc {
    font-size: 0.75rem;
    font-weight: 100;
    color: gray;
    display: block;
    margin-top: -7rem;
    margin-bottom: 1rem;
    cursor: pointer;
    user-select: none;
}

/*

body {
    background-color: black;
  
    height: 100vh;
    width: 100vw;
    z-index: -2;
}
.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #237f80;
  
    height: 100vh;
    width: 100vw;
  
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

body.dark .bg-img {
    opacity: 30%;
}

body {
    overflow-x: hidden;
}

.title-bar-controls button {
    background-color: transparent;
}

body.dark .window {
    background-color: #1c1b17;
    color: white;
}
div.games {
    display: grid;
    grid-template-columns: repeat(auto-fill, 16rem);
    grid-template-rows: repeat(auto-fit, 6rem);
    gap: 1rem;
    width: calc(100% - 2.4rem);
    padding: 1rem 1rem 1rem 1rem;
    overflow: visible;
    position: relative;
    margin-left: 0.2rem;
    border-top: 1px solid #c6cdec;
    background-color: white;
    justify-content: space-evenly;
}

.game {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    width: calc(100%);
    position: relative;
    user-select: none;
}

.game a {
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 3;
}
.game img {
    width: 5rem;
    z-index: 0;
    opacity: 1;
    aspect-ratio: 1/1;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    border-radius: 8px;
    float: left;
    margin-right: 1rem;
}

.game h2 {
    color: black;
    z-index: 3;
    top: 1rem;
    font-size: 1rem;
    margin-top: 1rem;
}

.game h3 {
    color: black;
    z-index: 3;
    top: 1rem;
    font-size: 0.7rem;
    margin-top: 0.5rem;
}

* {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
*::-webkit-scrollbar {
    display: none;
}
p {
    font-size: 1rem;
    text-align: left;
    padding-left: 0.5rem;
}

main {
    position: absolute;
    background-blend-mode: darken;
    padding: 0;
    width: 100vw;
    height: calc(100vh - 4rem);
    overflow-y: scroll;
    text-align: center;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    opacity: 1;
    transform: translate(calc(calc(1 - var(--animtime)) * -50rem), calc(calc(1 - var(--animtime)) * 25rem)) scale(calc(var(--animtime) * 1));
}
canvas {
    position: fixed;
    z-index: -1;
}
div.toptext {
    width: calc(65% - 2rem);
    margin: 0 0 0 auto;
}

div.window {
    width: calc(65% - 2rem);
    margin: 0 1rem 0 auto;
}
div.window *:not(.title-bar-text) {
    color: black !important;
}
@media screen and (max-width: 790px) {
    div.window {
        width: calc(100% - 2rem);
        grid-template-columns: repeat(2, minmax(12rem,1fr));
    }
} 
*/
