@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Funnel Sans", sans-serif;
  color: #220000;
  image-rendering: pixelated;
}

@keyframes background-move {
  from { background-position: 0px 0px; }
  to { background-position: 64px 112px; }
}

html {
  background-image: url('img/bg.png');
  font-size: 18px;

  animation: background-move 20s infinite linear;
}

section {
  position: relative;
  
  width: clamp(25rem, calc(100% - 8rem), 50rem);
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-left: 1rem;
  background-color: #fcdee6;
  /* padding: 1rem; */
  /* padding-top: 6rem; */
  border-radius: 4px;

  overflow: hidden;
}

div.flex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 36rem;
}

header {
  /* position: absolute; */

  background-color: #fcaeb6;
  padding: 1.5rem;
  width: 100%;
  height: 5rem;
  top: 0;
  left: 0;

  border-bottom: 2px solid #220000;
}

aside {
  background-color: #991010;
  width: 12rem;
  min-height: 100%;
  float: left;
  border-right: 2px solid #220000;
  padding: 0.5rem;
  flex-shrink: 0;
}

aside div {
  width: 100%;
  border: 2px solid #220000;
  border-radius: 4px;
}
aside div span.sidebartitle {
  background-color: #660303;
  color: #fcdee6;
  width: 100%;
  text-align: center;
  display: block;
  border-bottom: 2px solid #220000;
}
aside div span:not(.sidebartitle) {
  background-color: #fcdee6;
  color: #220000;
  width: 100%;
  text-align: center;
  display: block;
}

main {
  padding: 1rem;
  width: 100%;
}

footer {
  /* position: absolute; */
  bottom: 0;
  padding: 1rem;
  background-color: #fcaeb6;
  padding: 1rem;
  width: 100%;
  border-top: 2px solid #220000;
}

h1, h2 {
  font-size: 2rem;
  text-align: center;

  user-select: none;
}
  
section > .left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1rem;
  background: #660303;
  border-right: 2px solid #220000;
}

section .triangle {
  content: '';
  position: absolute;
  top: calc(5rem - 32px - 2px);
  left: 32px;
  
  background-image: url("img/trianglewalk.png");
  background-size: cover;
  width: 32px;
  height: 32px;

  cursor: pointer;
}

h3 {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #220000;
  clear: both;
}

img.left {
  max-width: 35%;
  float: left;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  border: 2px solid #220000;
}

hr {
  border: none;
  border-bottom: 1px solid #220000;
  clear: both;
}
