.bg {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  background-attachment: local;
  top: 0;
  left: 0;
  user-select: none;
  z-index: -999;
  background-image: url("bg.png");
  background-repeat: repeat;
}
main {
  margin: 2rem auto;
  width: clamp(12rem, 80%, 60rem);
}
.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.card {
  border: 1px solid rgba(0.0, 0.0, 0.0, 0.3);
  border-radius: 6px;
  padding: 0.5rem;
}
.card img {
  width: calc(100% - 2rem);
  aspect-ratio: 4/3;
  object-fit: cover;
  padding-left: 1rem;
}